<% @matched_societies.each do |society, coefficient| %>
    <% if coefficient > 0 %>
        <%= society.name %>
        <% coefficient = ((coefficient*100).to_f).ceil %>
        <%
            match_type = "NO MATCH"
            class_type = "no_match"
            if coefficient > 0 && coefficient <= 20
                match_type = "WEAK MATCH"
                class_type = "weak_match"
            elsif coefficient > 20 && coefficient <= 50
                match_type = "NORMAL MATCH"
                class_type = "normal_match"
            elsif coefficient > 50 
                match_type = "STRONG"
                class_type = "strong_match"
            end
            <p>Heyyyy</p>
        %>
        
        <p class= <%= class_type %>><%= coefficient.to_s + "% " + match_type %></p>
        
        
        </br>
        </br>
    <% end %>
<% end %>