<div class="recommend_text">
    <h2>Recommended Socieites</h2>
    <h5>Societies that relate to your interests</h5>
    <br>
</div>



<div class="row">
    <% @matched_societies[0..5].each do |society, coefficient| %>
        <% if coefficient > 0 && society.id != society.id+1 %>
                <div class="col-md-4">
                    <%= link_to society.name, controller: 'society', action: 'show', :id => society.id do %>
                        <div id="society_img">
                            <%= image_tag("society_img.png", :alt => "society_img") %>
                        </div>
                        <div id="society_name">
                            <h5><%= society.name.truncate_words(3) %></h5>
                        </div>
                    <% end %>
                </div>
        <% end %>
    <% end %>
</div>
