<div class="row">
<div class="col-md-8">
<h2><%= @society.name %></h2>
<p><%= @society.description %></p>
<p>interests:</p>
<% @society.get_interests_by_name.each do |interest| %>
    <p><%= interest %></p>
<% end %>
</div>
<div class="col-md-4">
<p>Upcoming Events:</p>
<% @society.get_events.each do |event| %>
    <p><%= link_to event.name, {:controller => :event, :action => :show, :id => event.id} %></p>
<% end %>
</div>
</div>