<div class="notifications">
    <% @notifs.each do |notif| %>
        <% classes = "notification " %>
        <% classes += notif.seen ? "seen" : "unseen" %>
        
        <a href="<%= notif.link %>">
            <div class="<%= classes %>">
                <p class="information"><%= notif.information %></p>
            </div>
        </a>
    <% end %>
</div>
    
</script>