<h3>Your conversation with </h3>

<div class="messages">
 
 <% if @msgs.length == 0 %>  
 <h3>Start your conversation.</h3>
 <% end %>
 
</div>

<script>
    var CON_ID = <%= @con.id %>
    $(document).ready(function() {
        $('.messages').messages(CON_ID);
    })
</script>
