<<<<<<< HEAD
<head>
   <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
=======
<!DOCTYPE html>
<html>
  <head>
    <title>Unimatch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<div id="bg">
    
</div>
</body>
>>>>>>> 2112bd4b195094d7cd3663195cceb1efdf302521
