<!DOCTYPE html>
<html>
  <head>
    <title>Unimatch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<div id="bg">
   <%= image_tag("unimatch_logo.png", border: 0, height: "100", alt: "UniMatch Logo", :class => "logo", :class => "block_centre") %> 
</div>
</body>
