/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require jquery-ui
 *= stub login_page
 *= stub index
 *= require fullcalendar/fullcalendar
 *= stub login
 *= require_tree .
 *= require_self
 */

/* colours */



$primary-color: white
$red: #FF6868
$blue: #3B579D
$grey: #D8D8D8
$black: #606060

/* media queries */

$break-phone: 450px
$break-tablet: 900px

/* css stuff */ 
    

#user_image
    display: inline-block
    border-radius: 50%
    width: 30px
    height: 30px

.container
    margin-top: 100px
    margin-bottom: 25px
    padding-top: 25px
    width: 100%
    max-width: 1000px
    background-color: white
    top: 0px
    padding: 20px
    @media screen and (min-width: $break-tablet)
        width: 80%
        box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.50)
        padding: 40px
.center
    display: block
    margin-left: auto
    margin-right: auto
    
fieldset 
    border: 0px

body
    text-align: center
    align-content: center
    margin: 0
    padding: 0
    background-color: #f8f8f8
    
    
#content
    margin-top: 80px

h1
    font-family: 'Lato', sans-serif
    font-size: 30
    color: $black
    
h2
    font-family: 'Lato', sans-serif
    font-size: 30
    color: $black
    

#header_text_container
    display: block
    margin-left: auto
    margin-right: auto
    position: relative
    top: -20px
    @media screen and (min-width: $break-tablet)
        position: absolute
        top: -10px
        left: 35px

#header_text
    font-size: 20
    
    
white
    color: white
    
h4
    font-family: 'Lato', sans-serif
    font-size: 18
    color: $black
    
.header 
    height: 60px
    width: 100%
    margin-bottom: 50px
    background: $red
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50)
    top: 0px
    position: fixed
    padding-top: 10px
    padding-left: 10px
    padding-right: 10px
    z-index: 99

ul 
    list-style-type: none
    padding: 0
    display: inline-block
    vertical-align: middle
    float: left

li 
    display: inline-block
    margin-right: 5px
    overflow: hidden
    float: left

ul li a 
    font-family: 'Lato', sans-serif
    font-size: 15px
    color: white
    padding: 3px

.inline_block
    display: inline-block
    
#desktop_nav
    display: none
    @media screen and (min-width: $break-tablet)
        display: inline-block
        position: absolute
        top: 19px
        right: 110px
        
#details
    display: none
    @media screen and (min-width: $break-tablet)
        display: inline-block
        float: right
        position: absolute
        right: 45px
        top: 14px
        width: 30px
        height: 30px
    
    &:hover
        cursor: pointer
        
#details_dropdown
    margin-top: 15px
    display: none
    position: absolute
    left: 0px
    text-align: left
    width: 100px
    left: -25px
    background: #FFFFFF
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.50)
    border-radius: 2px
    

        
#details_dropdown a
    color: $black
    padding-top: 5px
    display: block
    
#details_dropdown a:hover
    color: black
    
#user_image
    @media screen and (min-width: $break-phone)
        display: inline-block
        border-radius: 50%
        width: 30px
        height: 30px
        background: $grey
        margin: auto

.user_image_thubmnail
    width: inherit
    height: inherit
    border-radius: 50%

#user_name
    @media screen and (min-width: $break-phone)
        display: block
        margin-left: auto
        margin-right: auto

li a:hover 
    color: $black
    transition: 0.2s
    

    
.inline_block
    display: inline-block


p 
    font-family: 'Lato', sans-serif
    font-size: 12
    color: $black
    
h5 
    font-family: 'Lato', sans-serif
    font-size: 18
    color: $black
    
a:link 
    text-decoration: none

a:visited 
    text-decoration: none
    
.link
    text-decoration: none
    
    
#header_text a 
    color: white
    transition: color 0.5s
        
#header_text a:hover
    color: $black
    
/* mobile navigation */

#burger_menu
    display: inline-block
    position: absolute
    left: 15px
    top: 20px
    cursor: pointer
    @media screen and (min-width: $break-tablet)
        display: none
    

.line
    width: 25px
    height: 3px
    background-color: white
    margin-bottom: 5px
    
#navigation_mobile ul
    margin-top: 50px
    list-style: none
    display: block
    background: #111
 
#navigation_mobile  li
    width: 180px
    display: block
    margin-left: auto
    margin-right: auto

#nav_trigger
    position: absolute
    top: 20px
    left: 15px
    width: 30px
    height: 30px
    cursor: pointer
    z-index: 999
    @media screen and (min-width: $break-tablet)
        display: none

/* The side navigation menu */
.sidenav
    height: 100%
    width: 0
    position: fixed
    z-index: 9999
    top: 0
    left: 0
    background-color: $red
    overflow-x: hidden
    padding-top: 60px
    transition: 0.5s

/* The navigation menu links */
.sidenav a 
    padding: 8px 8px 8px 32px
    text-decoration: none
    font-size: 25px
    color: white
    display: block
    transition: 0.3s

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus
    color: $grey

/* Position and style the close button (top right corner) */
.sidenav #closebtn 
    position: absolute
    top: 0
    right: 25px
    font-size: 36px
    margin-left: 50px

.bottomtag
    position: absolute
    bottom: 2px
    
.search 
    margin-top: -0px
    width: 200px

// search

#search
    display: none
    @media screen and (min-width: $break-tablet)
        position: relative
        left: 210px
        top: 5px
        width: 190px
        display: block
        
#search_query
    background: rgba(215,215,215,0.30)
    border-radius: 2px
    border: none
    height: 30px
    padding-left: 10px
    
#search_query:placeholder-shown
    font-family: 'Lato', sans-serif
    font-size: 12
    color: $black
    
#submit-search
    background: transparent
    border: none
    
.white
    color: white
    
.search_image
    width: 120px
    height: 120px
    float: left
    display: block
    
.search_result
    width: 80%
    max-width: 500px
    margin-left: auto
    margin-right: auto
    display: block
    height: 130px
    
.search_result_text
    display: inline-block
    text-align: left
    float: left
    margin-left: 20px

.divider
    width: 80%
    max-width: 500px
    height: 1px
    background: #979797
    opacity: 0.5
    margin-top: 10px
    margin-bottom: 10px
    margin-left: auto
    margin-right: auto
    
.footer6
    position: absolute
    margin-top: -60px
    width: 100%
    height: 60px
    clear: both
    margin: 10px 0 20px 0
