/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require jquery-ui
 *= require_tree .
 *= require_self
 *= stub login_page
 *= stub index
 *= require fullcalendar/fullcalendar
 *= require jquery.qtip
 */

/* colours */

$primary-color: white
$red: #FF6868
$blue: #3B579D
$grey: #D8D8D8
$black: #606060

/* media queries */

$break-phone: 450px
$break-tablet: 900px

/* css stuff */

.container
    margin-top: 50px
    margin-bottom: 25px
    padding-top: 25px
    width: 100%
    max-width: 1000px
    background: white
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.50)
    @media screen and (min-width: $break-tablet)
        width: 80%
    

.center
    display: block
    margin-left: auto
    margin-right: auto
    
body
    text-align: center
    align-content: center
    margin-top: 0px
    margin-bottom: 0px
    background-color: #f8f8f8
    
    
#content
    margin-top: 80px

h1
    font-family: 'Lato', sans-serif
    font-size: 30
    color: $black
    
h2
    font-family: 'Lato', sans-serif
    font-size: 30
    color: $black
    
#header_text_container
    display: block
    margin-left: auto
    margin-right: auto
    position: relative
    top: -20px
    @media screen and (min-width: $break-tablet)
        position: fixed
        top: -5px
        left: 35px

#header_text
    font-size: 20
    
    
white
    color: white
    
h4
    font-family: 'Lato', sans-serif
    font-size: 18
    color: $black
    
.header
    height: 60px
    width: 100%
    margin-bottom: 50px
    background: $red
    // box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50)
    top: 0px
    position: fixed
    padding-top: 10px
    padding-left: 10px
    padding-right: 10px
    z-index: 99
    

ul 
    list-style-type: none
    padding: 0
    display: inline-block
    vertical-align: middle

li 
    display: inline
    margin-right: 5px

ul li a 
    font-family: 'Lato', sans-serif
    font-size: 15
    color: white
    
.inline_block
    display: inline-block

#desktop_nav
    display: none
    @media screen and (min-width: $break-tablet)
        display: inline-block
        position: fixed
        top: 19px
        right: 110px

#user_image
    @media screen and (min-width: $break-phone)
        display: inline-block
        border-radius: 50%
        width: 30px
        height: 30px
        background: $grey
        
#user_name
    @media screen and (min-width: $break-phone)
        display: block
        margin-left: auto
        margin-right: auto

#details
    display: none
    width: 120px
    height: 60px
    @media screen and (min-width: $break-phone)
        display: inline-block
        position: fixed
        top: 5px
        right: 0px
  
#details_dropdown
    display: none

p 
    font-family: 'Lato', sans-serif
    font-size: 12
    font-weight: 300
    color: $black
    
h5 
    font-family: 'Lato', sans-serif
    font-size: 18
    color: $black
    
a:link 
    text-decoration: none

a:visited 
    text-decoration: none

a:hover 
    text-decoration: none

a:active 
    text-decoration: none
    
.link
    text-decoration: none
    
    
#header_text a 
    color: white
    transition: color 0.5s

#header_text a:hover
    color: $black
    
    width: 90%
    margin-left: auto
    margin-right: auto
    max-width: 1000px
    @media screen and (min-width: $break-tablet)
        width: 75%
    
/* mobile navigation */

#burger_menu
    display: inline-block
    position: fixed
    left: 15px
    top: 20px
    cursor: pointer
    @media screen and (min-width: $break-tablet)
        display: none
    

.line
    width: 25px
    height: 3px
    background-color: white
    margin-bottom: 5px
    
#navigation_mobile ul
    margin-top: 50px
    list-style: none
    display: block
    background: #111
 
#navigation_mobile  li
    width: 180px
    display: block
    margin-left: auto
    margin-right: auto

#nav_trigger
    position: fixed
    top: 20px
    left: 15px
    width: 30px
    height: 30px
    cursor: pointer
    z-index: 999
    @media screen and (min-width: $break-tablet)
        display: none

/* The side navigation menu */
.sidenav
    height: 100%
    width: 0
    position: fixed
    z-index: 9999
    top: 0
    left: 0
    background-color: $red
    overflow-x: hidden
    padding-top: 60px
    transition: 0.5s

/* The navigation menu links */
.sidenav a 
    padding: 8px 8px 8px 32px
    text-decoration: none
    font-size: 25px
    color: white
    display: block
    transition: 0.3s

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus
    color: $grey

/* Position and style the close button (top right corner) */
.sidenav #closebtn 
    position: absolute
    top: 0
    right: 25px
    font-size: 36px
    margin-left: 50px