/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require jquery-ui
 *= require_tree .
 *= require_self
 *= stub login_page
 *= stub index
 *= stub login
 */

@import "bootstrap-sprockets"
@import "bootstrap"

/* colours */

$primary-color: white
$red: #FF6868
$blue: #3B579D
$grey: #D8D8D8
$black: #606060

/* media queries */

$break-phone: 450px
$break-tablet: 900px

/* css stuff */ 



.center
    display: block
    margin-left: auto
    margin-right: auto
    
fieldset 
    border: 0px
    
body
    text-align: center
    align-content: center
    margin-top: 10px

h1
    font-family: 'Lato', sans-serif
    font-size: 30
    color: $black
    
h2
    font-family: 'Lato', sans-serif
    font-size: 30
    color: $black
    
h1 .header_text
    display: inline
    border: 1px
    
h4
    font-family: 'Lato', sans-serif
    font-size: 18
    color: $black
    
.header 
    margin-bottom: 50px
    

ul 
    list-style-type: none
    padding: 0
    display: inline-block
    vertical-align: middle

li 
    display: inline
    margin-right: 5px

ul li a 
    font-family: 'Lato', sans-serif
    font-size: 15

li a:hover 
    color: #009ad3
    transition: 0.2s
    
#details
    display: none
    float: right
    position: absolute
    right: 20px
    top: 20px
    @media screen and (min-width: $break-tablet)
        display: inline-block
    
.inline_block
    display: inline-block

#desktop_nav
    float: right
    position: absolute
    left: 20px
    top: 20px
    display: none
    @media screen and (min-width: $break-tablet)
        display: inline-block


p 
    font-family: 'Lato', sans-serif
    font-size: 12
    color: $black
    
h5 
    font-family: 'Lato', sans-serif
    font-size: 18
    color: $black
    
a:link 
    text-decoration: none

a:visited 
    text-decoration: none

a:hover 
    text-decoration: underline

a:active 
    text-decoration: underline
    
.link
    text-decoration: none
    
.wrapper
    width: 500px
    margin-left: auto
    margin-right: auto
    
/* mobile navigation */

#burger_menu
    display: inline-block
    float: right
    position: absolute
    left: 20px
    top: 20px
    @media screen and (min-width: $break-tablet)
        display: none
    

.line
    width: 20px
    height: 4px
    background-color: $black
    margin-bottom: 4px
        
.container_hidden
    height: 200px
    width: 200px
    float: left
    background-color: $red
    float: left
    display: none
    
.container_show
    display: block
    margin-top: 40px
    
#navigation_mobile ul
    list-style-type: none
    padding: 0
    
#navigation_mobile a
    color: white