
#editlink
    margin: 10px
    
/*.checkbox
    width: 50px
    height: 50px
    background: transparent url(http://i.stack.imgur.com/S4p2R.png ) no-repeat 0 50%

/*.checked
    background: transparent url(http://i.stack.imgur.com/S4p2R.png ) no-repeat 80% 50%

input[type=checkbox] 
    display:none
    width: 200px
    height: 200px


label[type=checkbox]
    background: #999
    height: 50px
    width: 50px
    display:inline-block
    padding: 0 0 0 0px


/*label[type=checkbox]:checked 
    background: #999 
    opacity: 0.5
    height: 50px
    width: 50px
    display:inline-block
    padding: 0 0 0 0px
/*.checkbox_wrapper + label
    height: 200px
    width: 200px
    position: absolute
    top: 0
    left: 0
    z-index: 2
    opacity: 1

/*.checkbox_wrapper:checked + label
    height: 200px
    width: 200px
    position: absolute
    top: 0
    left: 0
    z-index: 2
    opacity: 0.5
//useless


/*input[type="checkbox"] 
    opacity: 0
    height: 220px
    width: 215px
    position: absolute
    top: 0
    left: 0
    z-index: 2
    
/*input[type="checkbox"]:checked 
    //opacity:0
    opacity: 1
    height: 220px
    width: 215px
    position: absolute
    top: 0
    left: 0
    z-index: 2
        


/*input[type="checkbox"]+label
    //background: image-url('Interests/rugby.jpg') no-repeat
    height: 220px
    width: 215px
    display:inline-block
    padding: 0 0 0 0px
    position: absolute
    top: 0
    left: 0
    z-index: 1


/*input[type="checkbox"]:checked+label
    //background: image-url('Interests/rugby.jpg') no-repeat
    opacity: 0.1
    height: 220px
    width: 215px
    display:inline-block
    padding: 0 0 0 0px
    position: absolute
    top: 0
    left: 0
    z-index: 1

#pic:hover
    opacity: 0.2
    


.container
    min-width: 200px
    width: auto !important
    width: 200px

input[type=checkbox], input[type=checkbox] 
    display: none


/*img
    height: 200px
    width: 200px

input[type=radio]:checked +label, input[type=checkbox]:checked +label 
    //border: 10px solid transparent
    display: inline-block
    //border-radius: 10px
    opacity : 0.6
