// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-info
    text-align: left
    
.event-wrapper
    padding: 30px 30px 0px 120px
    
.event-description
    padding-left: 20px
    font-size: 16px
    text-align: justify
    text-justify: inter-word

#invite-btn
    margin-top: 5px
    
#invite-popup
    background-color: red
    width: 500px
    height: 500px
    
    
///// popup
.modal 
    display: none
    position: fixed
    z-index: 1
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: none
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,0.4)

.invite-modal-wrapper
    width: 50%
    background-color: #fefefe
    margin: 10% auto
    border: 1px solid #888
    padding: 5px 20px 40px 20px


/* The Close Button */
.close-modal
    color: #aaa
    font-size: 36px
    font-weight: bold


.close-modal:hover,
.close-modal:focus 
    color: black
    text-decoration: none
    cursor: pointer
    
.invite-tabs
    margin-bottom: 5px

.invite-tabs .tab-link
    color: black !important
    
.scroll-box-wrapper
    width: 80%
    margin: auto