// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-info
    text-align: left
    
.event-wrapper
    padding: 30px 120px 0px 120px
    
.event-description
    font-size: 16px
    text-align: justify
    text-justify: inter-word
    