// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<<<<<<< HEAD


/* colours */



$primary-color: white
$red: #FF6868
$blue: #3B579D
$grey: #D8D8D8
$black: #606060

/* media queries */

$break-phone: 450px
$break-tablet: 900px

/* css stuff */ 

.form_control
    width: 268px
    padding: 9px 9px
    margin: 0
    display: inline-block
    border: 1px solid #ccc
    border-radius: 4px
    box-sizing: border-box
    resize: none
    appearance: none


.create_form
    display: inline-block
    

.field_container
    margin-bottom: 15px

.field_container h5
    font-family: 'Lato', sans-serif
    font-size: 17px
    margin: 0
    float: left
    margin-bottom: 5px
    
.text_container
    margin-bottom: 20px
    
#date_time
    width: 131px
    height: 48px

    
#date_time_box
    display: flex
    flex-wrap: wrap
    justify-content: start
    margin-bottom: 15px
    
.date
    float: left
 

.time
    position: relative
    margin-left: 90px
    
.form_control1
    width: 268px
    padding: 12px 20px
    margin: 0
    display: inline-block
    border: 1px solid #ccc
    border-radius: 4px
    box-sizing: border-box
    width: 131px
    height: 48px

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0
    
input[type="time" i]::-webkit-outer-spin-button,
input[type="time" i]::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
    
input[type="time" i]
    text-align: center
    
label 
    font-family: 'Lato', sans-serif
    font-size: 17px
    color: $black
    font-weight: normal
    float: left

input[type=checkbox]
    width: 17px
    height: 17px
    margin-left: 5px
    position: relative
    bottom: -3px
    
#burger-recurring
    margin: 20px 0
    pointer-events: none
    opacity: 0.4
    user-select: none

#frequency_text_field
    width: 25px
    height: 25px
    padding: 0
    text-align: center
    
.information, .end_date, .reccuring_box, .frequency
    text-align: left

.recurring_box
    overflow: hidden
    
.form_control2
    width: 268px
    padding: 12px 20px
    margin: 0
    display: inline-block
    border: 1px solid #ccc
    border-radius: 4px
    box-sizing: border-box
    width: 131px
    height: 35   

.button
    width: 270px
    
.dropdown
    margin-bottom: 40px
    
=======
.event-info
    text-align: left
    
.event-wrapper
    padding: 5px 30px 0px 120px
    
.event-description
    padding-left: 40px
    font-size: 16px
    text-align: justify
    text-justify: inter-word

#invite-btn
    margin-top: 5px
    
#invite-popup
    background-color: red
    width: 500px
    height: 500px
    
    
///// popup
.modal 
    display: none
    position: fixed
    z-index: 1
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: none
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,0.4)

.invite-modal-wrapper
    position: relative
    top: -80px
    width: 50%
    background-color: #fefefe
    margin: 10% auto
    border: 1px solid #888
    padding: 5px 20px 40px 20px


/* The Close Button */
.close-modal
    color: #aaa
    font-size: 36px
    font-weight: bold


.close-modal:hover,
.close-modal:focus 
    color: black
    text-decoration: none
    cursor: pointer
    
.invite-tabs
    margin-bottom: 5px

.invite-tabs .tab-link
    color: black !important
    
.scroll-box-wrapper
    width: 80%
    margin: auto
>>>>>>> f958e7393aadd20d4593c4d7aa57af8993c396b0
