// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html
    height: 100%
    
body
    height: 100%
    
.centered
    text-align: center
    margin: 0 auto
    
.nonselect
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

#screen1
    height: 100%
    width: 100%
    background: url("background.jpg") no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    // margin-bottom: 10px
    position: relative
    z-index: 1
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    
.text
    color: #606060
    text-align: center
    padding: 20px
    font-family: 'Lato', sans-serif
    font-size: 12
    
.text-wrapper
    width: 100%
    margin-top: 17%
    
.text-wrapper h1
    font-family: 'Lato', sans-serif
    font-weight: bold
    color: #fff
    font-size: 45px
    
.text-wrapper h1:hover
    cursor: default
    
#nav_bar
    padding: 0
    display: flex
    flex-direction: row
    justify-content: space-between


.navigation_inner
    display: flex

.navigation_inner h3
    margin: 16px 10px
    font-family: 'Lato', sans-serif
    font-weight: bold
    color: #606060
    font-size: 20px
    
    
.navigation_inner a
    text-decoration: none
    
.navigation_inner a:hover h3
    color: #FF6868
    
.left
    display: flex
    flex-direction: row
    min-width: 250px
    margin-left: 20px

.right
    display: flex
    flex-direction: row-reverse
    min-width: 250px
    margin-right: 20px
    
.home_logo
    margin: 90px auto
    
.feature
    width: 300px
    padding-top: 25px
    margin: 80px 0px
    background-color: #f3f3f3
    
#screen2
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    background-color: #f3f3f3
    position: relative
    // margin-bottom: 10px
    z-index: 0.9
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19)


h2
    font-family: 'Lato', sans-serif
    font-size: 20px
    
#screen3
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    background-color: #FF6868
    position: relative
    // margin-bottom: 10px
    z-index: 0
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    
.image_box
    margin: 80px 150px 80px 70px
    
    
.text_box
    margin: 80px 70px 80px 150px

.text_box h2
    font-size: 45px
    color: white
    text-align: justify
    font-family: 'Lato', sans-serif
    
#screen4
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    background-color: #f3f3f3
    position: relative
    z-index: -0,9
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    
#screen4 .text_box h2
    color: #606060
    text-align: right
    
    
#screen5
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    background-color: #FF6868
    position: relative
    z-index: -1
