/* 
 *= require normalize-rails
 */


/* colours */

$primary-color: white
$red: #FF6868
$blue: #3B579D
$grey: #D8D8D8
$black: #606060


/* media queries */

$break-phone: 450px
$break-tablet: 900px
    
body
  height: 100%
  width: 100%
  background: url("background.jpg") no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  -ms-background: cover
  background-size: cover
    
.block_centre
  display: block
  margin-left: auto
  margin-right: auto
  
#form_container
  display: block
  width: 90%
  text-align: center
  margin-top: 20px
  background: rgba(255,255,255,0.87)
  border-radius: 8px
  padding-bottom: 10px
  padding-top: 10px
  max-width: 350px
  display: block
  bottom: 20px
  margin-bottom: 30px
  @media screen and (min-width: $break-phone)
    margin-top: 30px
    
#login_title
  display: inline-block
  float: left
  width: 45%
  cursor: pointer
  border-right: 1px solid $grey
  @media screen and (min-width: $break-phone)
    width: 174px
    
    
#register_title
  display: inline-block
  float: right
  width: 45%
  cursor: pointer
  @media screen and (min-width: $break-phone)
    width: 174px
    
    
#login_header
  height: 80px
    
fieldset
  width: 250px
    
h2
  font-family: 'Lato', sans-serif
  font-size: 25px
  color: $black
    
label
  float: left
    
.btn-primary
  background: $red
    
.btn-primary:hover
  background: $red
    
h2.active
  font-size: 20px
  color: $red
  margin-top: 17px
  
p 
  font-family: 'Lato', sans-serif
  font-weight: 200
  font-size: 12
  color: $black
  text-align: justify
  
fieldset 
  border: 0px
  
.logo
  margin-top: 40px
  margin-left: auto
  margin-right: auto
  display: block
    
.nonselect
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

#nav_bar
  display: none
  background-color: transparent
  @media screen and (min-width: $break-tablet)
    display: flex
    padding: 0
    flex-direction: row
    justify-content: space-between


.navigation_inner
  display: flex

.navigation_inner h3
  font-family: 'Lato', sans-serif
  font-weight: bold
  color: #606060
  font-size: 20px
  margin-left: 3px
  margin-right: 3px
  @media screen and (min-width: $break-tablet)
    margin: 16px 10px
    font-family: 'Lato', sans-serif
    font-weight: bold
    color: #606060
    font-size: 20px
    
    
.navigation_inner a
  text-decoration: none
    
.navigation_inner a:hover h3
  color: #FF6868
    
.left
  display: flex
  flex-direction: row
  @media screen and (min-width: $break-tablet)
    display: flex
    flex-direction: row
    min-width: 150px
    margin-left: 20px
    
/* mobile navigation */

#burger_menu
  display: inline-block
  position: fixed
  left: 15px
  top: 20px
  cursor: pointer
  @media screen and (min-width: $break-tablet)
    display: none
    

.line
  width: 25px
  height: 3px
  background-color: white
  margin-bottom: 5px
    
#navigation_mobile ul
  margin-top: 50px
  list-style: none
  display: block
  background: #111
 
#navigation_mobile  li
  width: 180px
  display: block
  margin-left: auto
  margin-right: auto

#nav_trigger
  position: fixed
  top: 20px
  left: 15px
  width: 30px
  height: 30px
  cursor: pointer
  z-index: 999
  @media screen and (min-width: $break-tablet)
    display: none

/* The side navigation menu */
.sidenav
  height: 100%
  width: 0
  position: fixed
  z-index: 9999
  top: 0
  left: 0
  background-color: $red
  overflow-x: hidden
  padding-top: 60px
  transition: 0.5s

/* The navigation menu links */
.sidenav a 
  padding: 8px 8px 8px 32px
  text-decoration: none
  font-size: 25px
  color: white
  display: block
  transition: 0.3s

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus
  color: $grey

/* Position and style the close button (top right corner) */
.sidenav #closebtn 
  position: absolute
  top: 0
  right: 25px
  font-size: 36px
  margin-left: 50px