@import application

.notifications
    border: solid 1px #babdc4
    background-color: white
    top: 42px
    left:  40%
    position: absolute
    z-index: 20
    width: 300px
    margin: auto
    padding: 1px
    /* display: none */
    max-height: 200px
    overflow: hidden
    overflow-y: scroll

.notifications .seen
    background-color: $red

.notifications .unseen
    background-color: #ef4343

.notifications .notification .information
    color: white
    text-decoration: none
    margin: 0px

.notification
    margin: 0px
    margin-bottom: 5px
    padding: 2px 5px 2px 5px
    height: 50px
    border: solid 1px $red

//fills all space
.notification-wrapper
    width: 100%
    height: 100%
    
.notifications .loading-icon
    width: 25px
    height: 25px

.notifications-link
    width: 30px
    height: 30px
    display: inline-block
    margin: 0px auto
    text-align: center
    &:hover 
        cursor: pointer
        color: black

.notifications-link img
    width: 26px
    height: 26px

/* the little number showing how many notifs there are */
.new-notif-length
    border-radius: 100%
    background-color: white
    font-size: 8px
    text-align: center
    position: relative
    z-index: 20
    top: -25px
    left: 8px
    width: 12px
    height: 12px
    margin: auto