// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.normal_match
    color: #6eb8d3
    
.strong_match
    color: #00ff1d
    
.weak_match
    color: #db6d00
    
//.weak_match
//    color:green
    
// You forgot the spaces ;) ;) ;) :3 xoxo