// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.normal_match
    color: #6eb8d3
    
.strong_match
    color: #00ff1d
    
.weak_match
    color: #db6d00

.user_image
    width: 150px
    height: 150px
    
.profile_pic
    border-radius: 50%
    width: 100%
    max-width: 150px
    border: 1px solid #979797
    display: block
    
.margin_bottom
    margin-bottom: 15px
    
#matches
    margin-left: 15%
    margin-right: 15%

#percentage_bar
    position: relative
    
.coefficient
    position: absolute
    top: 38%
    left: 40%
    font-family: "Lato", sans-serif
    font-size: 25px

.message_button
    float: left
    
.favourites_button
    float: left
    
.buttons
    display: flex
    flex-direction: row
    justify-content: space-around
    
.common_interests
    display: flex
    flex-direction: row
    justify-content: start